.margin-15px {
    margin: 15px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > * > .list-group-item {
    padding-left: 45px;
}

.list-group.list-group-root > .list-group > * > * > .list-group-item {
    padding-left: 60px;
}

.list-group.list-group-root > .list-group > * > * > * > .list-group-item {
    padding-left: 75px;
}

.list-group.list-group-root > .list-group > * > * > * > * > .list-group-item {
    padding-left: 90px;
}

.list-group.list-group-root > .list-group > * > * > * > * > * > .list-group-item {
    padding-left: 105px;
}

.list-group.list-group-root > .list-group > * > * > * > * > * > * > .list-group-item {
    padding-left: 120px;
}

.list-group.list-group-root > .list-group > * > * > * > * > * > * > * > .list-group-item {
    padding-left: 135px;
}

.list-group.list-group-root > .list-group > * > * > * > * > * > * > * > * > .list-group-item {
    padding-left: 150px;
}

.list-group.list-group-root > .list-group > * > * > * > * > * > * > * > * > * > .list-group-item {
    padding-left: 165px;
}

.list-group.list-group-root > .list-group > * > * > * > * > * > * > * > * > * > * > .list-group-item {
    padding-left: 180px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}

.clickable {
    cursor: pointer;
}

.clickable-row {
    cursor: pointer;
}

.hidden-row {
    padding: 0 !important;
}

.vspace-30px {
    padding-bottom: 30px;
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 10px;
    padding: 10px 12px;
    pointer-events: none;
}
